<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SQLite and Flask</title>

		<!-- Load Leaflet -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
		<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
	</head>

	<body>

		<!-- forms to control database actions -->
		<h3>Insert something into the database</h3>
		<label for="longitude">Longitude:</label><input id="insert_longitude" type="text" value="-2.807007"/>
		<label for="latitude">Latitude:</label><input id="insert_latitude" type="text" value="54.065836"/>
		<button onclick="makeRequest('./insert?lng=' + document.getElementById('insert_longitude').value.toString() + 
			'&lat=' + document.getElementById('insert_latitude').value.toString(), loadInsertResponse)">Insert</button>
		<br>

		<h3>Select everything from the database</h3>
		<button onclick="makeRequest('./selectall', loadSelectAllResponse)">Select Everything</button>
		<br>

		<h3>Select one thing from the database</h3>
		<label for="longitude">Longitude:</label><input id="longitude" type="text"  value="-2.807007"/>
		<label for="latitude">Latitude:</label><input id="latitude" type="text" value="54.065836"/>
		<button onclick="makeRequest('./select?lng=' + document.getElementById('longitude').value.toString() + 
			'&lat=' + document.getElementById('latitude').value.toString(), loadSelectOneResponse)">Query</button>
		<br>

		<hr>
		
		<!-- div to write outputs -->
		<div id="db_response"></div>

		<script>
			/**
			 * Make a request for JSON over HTTP, pass resulting text to callback when ready
			 */
			function makeRequest(url, callback) {

				//initialise the XMLHttpRequest object
				var httpRequest = new XMLHttpRequest();

				//set an event listener for when the HTTP state changes
				httpRequest.onreadystatechange = function () {

					//if it works, parse the JSON and pass to the callback
					//a successful HTTP request returns a state of DONE and a status of 200
					if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
						callback(JSON.parse(httpRequest.responseText));
					}
				};

				//prepare and send the request
				httpRequest.open('GET', url);
				httpRequest.send();
			}

			/**
			 * Parse a response and load into div
			 */ 
			function loadSelectAllResponse(data){

				console.log(data);

				// lazily load data into html and dump onto page
				let output = "";
				for (let i = 0; i < data.length; i++){
					output += '<p>' + data[i].lng + ', ' + data[i].lat + '</p>';
				}
				document.getElementById('db_response').innerHTML = output;
			}

			/**
			 * Parse a response and load into div
			 */ 
			function loadInsertResponse(data){

				console.log(data);

				// lazily load data into html and dump onto page
				document.getElementById('db_response').innerHTML = '<p>' + data.success + '</p>';
			}

			/**
			 * Parse a response and load into div
			 */ 
			function loadSelectOneResponse(data){

				console.log(data);

				// lazily load data into html and dump onto page
				document.getElementById('db_response').innerHTML = '<p>' + data.lng + ', ' + data.lat + '</p>';
			}
		</script>
	</body>
</html>
